<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Charmonman:400,700|Open+Sans:400,600,700&amp;subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
<header class="page-header">
    <nav class="navbar navbar-expand-lg justify-content-between">
        <a th:href="@{/admin/dashboard}" class="navbar-brand main-logo main-logo-smaller">
            My <span>App</span>
        </a>
        <div class="d-flex justify-content-around">
            <h4 class="text-light mr-3">Imię</h4>
            <div class="circle-div text-center"><i class="fas fa-user icon-user"></i></div>
        </div>
    </nav>
</header>

<section class="dashboard-section">
    <div class="row dashboard-nowrap">
        <ul class="nav flex-column long-bg">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/dashboard}">
                    <span>Pulpit</span>
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/schedule/list}">
                    <span>Grafik</span>
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="collapse"
                   data-target="#collapseOne1" aria-expanded="false">
                    <span>Receptury</span>
                </a>
                <div id="collapseOne1" class="collapse" aria-labelledby="navbarDropdown1">
                    <ul class="nav flex-column long-bg">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/category/listBar}">
                                <span>Bar</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/category/listKitchen}">
                                <span>Kuchnia</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="collapse"
                   data-target="#collapseTwo" aria-expanded="false">
                    <span>Magazyn</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="navbarDropdown2">
                    <ul class="nav flex-column long-bg">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/category/listProductsBar}">
                                <span>Bar</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/category/listProductsKitchen}">
                                <span>Kuchnia</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/lossReport/list}">
                    <span>Raport strat</span>
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" th:href="@{/app-edit-password.html}">
                    <span>Zmień hasło</span>
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/employee/list}">
                    <span>Użytkownicy</span>
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
        </ul>


        <div class="m-4 p-3 width-medium">
            <div class="dashboard-content border-dashed p-3 m-4 view-height">
                <div class="row border-bottom border-3 p-1 m-1">
                    <div class="col noPadding d-flex justify-content-between align-items-center">
                        <h3 class="color-header text-uppercase">Grafik</h3>
                        <div>
                            <button type="submit" form="scheduleFormThisMonth" class="btn btn-primary mr-2">Zapisz zmiany</button>
                            <a href="/admin/schedule/listThisMonth" class="btn btn-secondary ">Powrót</a>
                        </div>
                    </div>
                </div>
                <form id="scheduleFormThisMonth" th:action="@{/admin/schedule/saveThisMonth}" method="post" th:object="${scheduleForm}">
                    <table class="table border-bottom schedules-content">
                        <thead>
                        <tr>
                            <th scope="col">Dzień</th>
                            <th th:each="employee : ${employees}"
                                th:text="${#strings.substring(employee.firstName, 0, 1) + '. ' + employee.lastName}"
                                scope="col"></th>
                        </tr>
                        </thead>
                        <tbody class="text-color-lighter">
                        <tr th:each="day : ${days}">
                            <td th:text="${day}"></td>
                            <td th:each="employee : ${employees}">
                                <div th:each="schedule, i : ${schedules}"
                                     th:if="${schedule.day == (day) && schedule.employee == (employee)}">
                                    <input type="hidden" th:value="${schedule.id}"
                                           th:field="*{schedules[__${i.index}__].id}">
                                    <input type="text" th:value="${schedule.startTime}"
                                           th:field="*{schedules[__${i.index}__].startTime}" size="3">
                                    <input type="text" th:value="${schedule.endTime}"
                                           th:field="*{schedules[__${i.index}__].endTime}" size="3">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>


    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>