<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Charmonman:400,700|Open+Sans:400,600,700&amp;subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
<header class="page-header">
    <nav class="navbar navbar-expand-lg justify-content-between">
        <a th:href="@{/admin/dashboard}" class="navbar-brand main-logo main-logo-smaller">
            My <span>App</span>
        </a>
        <div class="d-flex justify-content-around">
            <h4 class="text-light mr-3">Imię</h4>
            <div class="circle-div text-center"><i class="fas fa-user icon-user"></i></div>
        </div>
    </nav>
</header>

<section class="dashboard-section">
    <div class="row dashboard-nowrap">
        <ul class="nav flex-column long-bg">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/dashboard}">
                    <span>Pulpit</span>
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/schedule/list}">
                    <span>Grafik</span>
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="collapse"
                   data-target="#collapseOne1" aria-expanded="false">
                    <span>Receptury</span>
                </a>
                <div id="collapseOne1" class="collapse" aria-labelledby="navbarDropdown1">
                    <ul class="nav flex-column long-bg">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/category/listBar}">
                                <span>Bar</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/category/listKitchen}">
                                <span>Kuchnia</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="collapse"
                   data-target="#collapseTwo" aria-expanded="false">
                    <span>Magazyn</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="navbarDropdown2">
                    <ul class="nav flex-column long-bg">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/category/listProductsBar}">
                                <span>Bar</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/category/listProductsKitchen}">
                                <span>Kuchnia</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/lossReport/list}">
                    <span>Raport strat</span>
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" th:href="@{/app-edit-password.html}">
                    <span>Zmień hasło</span>
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/employee/list}">
                    <span>Użytkownicy</span>
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
        </ul>


        <div class="m-4 p-3 width-medium border-dashed">
            <div class="m-4 p-3 border-dashed view-height">
                <div class="row border-bottom border-3 p-1 m-1">
                    <div class="col noPadding">
                        <h3 class="color-header text-uppercase">Edycja użytkownika</h3>
                    </div>
                    <div class="col d-flex justify-content-end mb-2 noPadding">
                        <a th:href="@{/admin/employee/details/{id}(id=${employee.id})}" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
                    </div>
                </div>
                <form th:action="@{/admin/employee/edit/{id}(id=${employee.id})}" th:object="${employee}" method="post">
                    <div class="schedules-content">
                        <table class="table">
                            <tr class="d-flex">
                                <th class="col-2">Imię</th>
                                <td class="col-4">
                                    <input type="text" th:field="*{firstName}" class="form-control"/>
                                    <p class="text-danger" th:errors="*{firstName}"></p>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">Nazwisko</th>
                                <td class="col-4">
                                    <input type="text" th:field="*{lastName}" class="form-control"/>
                                    <p class="text-danger" th:errors="*{lastName}"></p>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">Numer telefonu</th>
                                <td class="col-4">
                                    <input type="text" th:field="*{phoneNumber}" class="form-control"/>
                                    <p class="text-danger" th:errors="*{phoneNumber}"></p>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">Pesel</th>
                                <td class="col-4">
                                    <input type="text" th:field="*{pesel}" class="form-control"/>
                                    <p class="text-danger" th:errors="*{pesel}"></p>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">Adres</th>
                                <td class="col-4">
                                    <input type="text" th:field="*{address}" class="form-control"/>
                                    <p class="text-danger" th:errors="*{address}"></p>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">Miasto</th>
                                <td class="col-4">
                                    <input type="text" th:field="*{city}" class="form-control"/>
                                    <p class="text-danger" th:errors="*{city}"></p>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">Email</th>
                                <td class="col-4">
                                    <input type="text" th:field="*{email}" class="form-control"/>
                                    <p class="text-danger" th:errors="*{email}"></p>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">Password</th>
                                <td class="col-4">
                                    <input type="text" th:field="*{password}" class="form-control" readonly/>
                                    <p class="text-danger" th:errors="*{password}"></p>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">Pracownik bar</th>
                                <td class="col-4">
                                    <select th:field="*{barStaff}" class="form-control">
                                        <option value="true">Tak</option>
                                        <option value="false">Nie</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">Pracownik kuchnia</th>
                                <td class="col-4">
                                    <select th:field="*{kitchenStaff}" class="form-control">
                                        <option value="true">Tak</option>
                                        <option value="false">Nie</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">Typ umowy</th>
                                <td class="col-4">
                                    <input type="text" th:field="*{contractType}" class="form-control"/>
                                    <p class="text-danger" th:errors="*{contractType}"></p>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">Badania sanitarno epidemiologiczne</th>
                                <td class="col-4">
                                    <select th:field="*{sanitaryEpidemiologicalStudy}" class="form-control">
                                        <option value="true">Tak</option>
                                        <option value="false">Nie</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">Uprawnienia</th>
                                <td class="col-4">
                                    <select th:field="*{roles}" multiple="multiple" class="form-control">
                                        <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-4" colspan="2">
                                    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>